* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url(noise.png); */
  background-color: rgb(153, 153, 153, 0.2);
  /* color: white; */
}

#navbar {
  /* background-color: rgba(169, 169, 169, 0.3); */
  background-color: rgba(197, 155, 29, 1);
  border: 5px double white;
}

#div_head {
  display: inline-block;
  margin-left: 35%;
}

#div_home {
  display: inline-block;
  margin-left: 360px;
}

#div_portfolio {
  display: inline-block;
  margin-left: 20px;
}

#div_home > button {
  background-color: #a1ca31;
  color: white;
  font-size: 15px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  border: 2px solid white;
}

#div_home > button:hover {
  background-color: #c78117;
  /* box-shadow: 0 0 10px #2ba805; */
  box-shadow: 6px 3px 6px rgb(51, 50, 50);
}

#div_portfolio > button {
  background-color: #f03f83;
  color: white;
  font-size: 15px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  border: 2px solid white;
}

#div_portfolio > button:hover {
  background-color: #c78117;
  /* box-shadow: 0 0 10px #2ba805; */
  box-shadow: 6px 3px 6px rgb(51, 50, 50);
}

#div_home > button > a {
  text-decoration: none;
  color: #ffffff;
}

#div_portfolio > button > a {
  text-decoration: none;
  color: #ffffff;
}

#nav_head {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

#link {
  /* visibility: hidden; */
  color: #000000;
}

#refresh {
  text-decoration: none;
  color: white;
}

#answer {
  position: absolute;
  top: 75%;
  left: 70%;
  transform: translate(-50%, -50%);
  animation: mymove 2s;
  animation-fill-mode: forwards;
}

@keyframes mymove {
  from {
    /* top: 0px; */
    color: #eecf73;
    font-size: 20px;
  }
  to {
    /* top: 300px; */
    font-size: 40px;
    color: #ffbf00;
  }
}

#image {
  margin-right: 0px;
  padding: 0px;
}

#buttons {
  width: 40%;
  text-align: left;
  margin-top: 15%;
  margin-left: 10%;
}

.inner_btn {
  display: inline-block;
}

#resetbtn {
  margin-left: 15px;
  margin-right: 10px;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

#resetbtn:hover {
  background-color: #c78117;
  box-shadow: 10px 10px 5px #232729;
}

#refresh:hover {
  color: white;
}

#link {
  margin-left: 90px;
  margin-right: 10px;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 6px 6px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 220px;
}

#link:hover {
  background-color: #8675a9;
  box-shadow: 10px 10px 5px #232729;
}

#submit_link {
  margin-left: 75px;
  margin-right: 5px;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

#submit_link:hover {
  background-color: green;
  color: white;
  box-shadow: 10px 10px 5px #232729;
}

@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 20px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
}
/* #submit_link {
  animation: glowing 1300ms infinite;
} */

/* 404d53 #################################################################################################*/

#pic_final {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  border: 5px ridge #ffbf00;
  border-radius: 5px;
}

#output {
  position: absolute;
  top: 35%;
  left: 23.5%;
  transform: translate(-50%, -50%);
}

p{
margin-left: 16%;
}

table{
  margin-left: 18.5%;
  border: 2px solid #000000;
  text-align: center;

  border-collapse: separate;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
tr td {
  border: 2px solid #000000;
  padding: 5px;  
  animation: mymove 5s infinite;
}

/* @keyframes mymove {
  50% {border-color: lightblue;}
} */

#tb {
  background-color: #f1f1c1;
  animation: mymove 5s infinite;
}

/* @keyframes mymove {
  50% {border-color: lightblue;}
} */

#tb tr:nth-child(even) {
  background-color: #eee;
}
#tb tr:nth-child(odd) {
  background-color: #ebcd74;
}
#tb th {
  color: white;
  background-color: black;
}

/* --------------------------------------------- */

tbody tr td {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #5f6062;
  font-size: 13px;
  padding: 6px 6px 6px 6px;
  border-bottom: 1px solid #e0e0e0;
}

tbody tr:nth-child(2n) {
  background: #f0f3f5;
}

tbody tr:last-child td {
  border-bottom: none;
}
tbody tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
tbody tr:last-child td:last-child {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

tbody:hover > tr td {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  /* uncomment for blur effect */
  /* color:transparent;
  @include text-shadow(0px 0px 2px rgba(0,0,0,0.8));*/
}

tbody:hover > tr:hover td {
  text-shadow: none;
  color: #2d2d2d;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

